// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system - Custom color

$arulblue: #1245a8;

// Override Bootstrap default state colors

$primary: $arulblue;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
